<!-- NHS Footer -->
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container app-width-container" style="display: flex; align-items: center;">
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" style="text-decoration: underline;" href="#" target="_blank">Accessibility statement</a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" style="text-decoration: underline;" href="mailto:dall@nhsbsa.nhs.uk">Contact us</a>
        </li>
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" style="text-decoration: underline;" href="https://github.com/nhsbsa-data-analytics" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
    <div class="nhsuk-footer__copyright">
      <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="license">Open Government Licence v3.0</a>, except where otherwise stated.</p>
    </div>
  </div>
</footer>
